body{
    margin: 0;
    padding: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#slideshow{
     width: 100%;
}
table{
    margin: auto;
    width: 80%;
}
table>h2{
    margin: auto;
}
td{
   font-size: 10px;
   text-align: center;
}
td>p{
    width: 100px;
    margin: auto;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 5px;
}
td>img{
    width: 70px;
}
.heading{
    text-align: center;
    margin-top: 80px;
    color: #444444;
}
p{
    color: #444444;
}
h5{
    color: #444444
}
#partA>p{
    margin: auto;
    text-align: center;
    width: 70%;
    line-height: 30px;
}
iframe{
    width: 100%;
    height: 580px;
    padding: 0;
    border: 0;
    margin-top: 50px;
    margin-bottom: 0px;
}
.box{
    display: flex;
    justify-content: center;
    background-color: #E6E6E6;
    margin-top: -5px;
}
.box>div{
    width: 400px;
    margin: 25px;
}
.box p{
    line-height: 10px;
    font-size: 15px;
}
.box>div>img{
    display: block;
    margin: auto;
    margin-top: 25px;
}
.buttons{
    display: flex;
   justify-content: center;
}
.buttons>button{
    margin: 20px 10px;
    height: 45px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E6E6E6;
}
.buttons>button:first-child{
    background-color:#3c07FF;
    font-weight: bold;
    font-weight: bold;
    color: white;
}

#contt{
    display: flex;
    height: 350px;
    background-color: antiquewhite;
    margin-bottom: 30px;
}
.view{
    display: block;
    margin: auto;
    background-color: #3c07FF;
    font-weight: bold;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 45px;
    margin-bottom: 60px;
}
.view+h5{
 text-align: center;
}
.view+h5+h1{
    margin-top: 20px;
}
.pic{

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
}
.pic>div{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
}
.pic>div>img{
    width: 100%;
    border-radius:10px;
}
.pic>div>h2{
    width: 230px;
    position: relative;
    top:-200px;
    color: white;
   text-align: center;
   font-weight: bold;
   font-size: 27px;
}
.pic+div>img{
    width: 100%;
    height:600px;
    margin-top:-170px;
}
.img_b{
    background-color:white;
    margin: auto;
    border-radius: 15px;
     width: 430px;
    padding: 30px;
    text-align: center;
    top:80px;
    position: relative;
    top:-500px;
}
.brands{
   margin-top: -400px;
    text-align: center;
    background-color: #E6E6E6;
    padding-top: 60px;
}
.brands>h1{
    margin-top: 0%;
}

.brand_p{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-content: space-evenly;
    margin: auto;
}
.brands>button{
    width: 120px;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    font-weight: bold;
    color: rgb(34, 32, 32);
    margin-top: 50px;
    margin-bottom: 50px;
   background-color: white;
}
.brands>button:hover{
   background-color: grey;
   color: rgb(214, 202, 202);
}






