*{
    font-family:Roboto, sans-serif;
 }
 #paymentpage {
     display: flex;
     margin: 0;

 }
 
 #comm {
     width: 55%;
     padding: 8%;
     padding-top: 40px;
 }
 
 #proshowpage {
     background-color: #f5f5f5;
     border-left: 2px solid rgb(192, 192, 192);
     width: 43%;
     margin-top: 0;
     padding-top: 6px;
     padding-right: 9%;
     padding-left: 4%;
    
 }
 #showprod{
     height: 300px;
     margin-top: 50px;
     overflow: hidden;
 }
 #showprod:hover{
     overflow-y: auto;
 }
 #showprod>div{
     display: flex;
     margin: 13px 0;
 }
 #showprod img{
     width: 70px;
     border: 1.5px solid rgb(230, 230, 230);
     border-radius: 9px;
 }
 .brandname{
     margin-left: 15px;
 }
 .brandname>p:first-child{
     font-size: 15.5px;
     font-weight: 600;
     margin-bottom: 0;
 }
 .brandname>p:last-child{
     font-size: 13.5px;
     margin-top: 2px;
 }
.lastprice{
 margin: auto;
 margin-right: 0;
}
#giftdiv{
 margin: 30px 0;
}
#giftdiv>input{
 width: 75%;
 height: 40px;
 border-radius: 4px;
 border: 0.1px solid rgb(196, 196, 196);
 font-size: 17px;
}
#giftdiv>button{
 width: 20%;
 height: 42px;
}
#subtotal{
 margin: 24px 0 13px 0;
 font-size: 15px;
}
#shipp{
 margin: 0 0 24px 0;
 font-size: 15px;
}

#newli,#totalprice{
 font-weight: 600;
 display: flex;
 justify-content: end;
 margin-top: -17px;
}
#tprice>span:first-child{
font-size: 13px;
margin-right: 7px;
margin-top: 9px;
 }
#tprice>span:last-child{
font-size: 25px;
font-weight: 600;
}
#tprice{
 display: flex;
 justify-content: end;
 margin-top: -25px;
}
#ltotal{
 margin: 20px 0;
}
 #newlink>p>a{
     text-decoration: none;
     color: black;

 }
 #newlink>p{
     font-size: 13px;
 }
 #gstdiv{
   
     background-color: white;
     height: 80px;
 }
 #gstdiv>input{

     border-radius: 30px;
 }
 #gstdiv>p{
     font-size: 14px;
 }
#firstdiv{

background-color: #ffeba1;
border-radius: 15px;
padding: 3px;
}
#firstdiv>span:first-child{
font-size: 20px;
font-weight: 500;
padding: 20px 0;
}

#gstdiv>span{
font-size: 18px;
padding-top: 20px;

}
#gstdiv{
text-align: center;
};
#comm>div>img{
width: 150px;
}

#showmail{
width: 100%;
height: 30px;
border: 0.2px solid rgb(214, 214, 214);
margin-bottom: 30px;
margin-top: 0;
align-items: center;
justify-content: center;
padding-top: 10px;
padding-left: 5px;
}
#cone{
display: flex;
}
#cone>p{
justify-content: end;
margin: auto;
margin-right: 0;

}
#cone>p>a{
text-decoration: none;
color: black;
}
#enew>h4{
margin-bottom: 5px;
}
#button1{
border: 1px solid red;
 margin: auto;
 margin-right: 0;
 display: flex;
 align-items: flex-end;
 margin-top: 30px;
padding: 20px;
 font-size: 15px;
 font-weight: 600;
 color: #ffff;
 background-color: blue;
 border: none;
 border-radius: 10px;
}

/*new address line */
#adddiv {
 width: 100%;
}
#addtype {
 width: 100%;
 height: 40px;
 margin-bottom: 10px;
}
#na1 {
 display: grid;
 grid-template-columns: repeat(6,1fr);
 grid-template-areas:"a a a b b b"
                     "c c c c c c"
                     "d d e e f f"
                     "g g g g g g";
 gap: 10px;
}
#na1>input{
 height: 40px;
 font-size: 15px;
 padding-left: 10px;
}
#na1>input:nth-child(1){
 grid-area: a;
}
#na1>input:nth-child(2){
 grid-area: b;
}
#na1>input:nth-child(3){
 grid-area: c;
}
#na1>input:nth-child(4){
 grid-area: d;
}
#na1>input:nth-child(5){
 grid-area: e;
}
#na1>input:nth-child(6){
 grid-area: f;
}
#na1>input:nth-child(7){
 grid-area: g;
}
 